<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="bg-gray-100 min-h-screen">
    <!-- TOAST START -->
    <%-include("../partials/toast.ejs") %>

    <!-- WRAPPER -->
    <div class="flex min-h-screen">
      <!-- SIDEBAR  START -->
  <%- include("./components/sidebar.ejs", {currentPath, user, pageTitle}) %>

      <!-- MAIN AREA -->
      <div class="flex-1 flex flex-col">
        <!-- TOP BAR -->
              <%- include("./components/main-header.ejs", {user, totalUnreadNotifications, totalNotifications, notifications}) %>

        <!-- MAIN CONTENT -->
        <main class="flex-1 p-6">
          <!-- STATS -->
          <h1>Actual main content pasted here</h1>
        </main>

        <!-- FOOTER -->
        <%- include("./components/footer.ejs", {user}) %>
      </div>
    </div>
    <%- include('../partials/toast-script.ejs') %>
    <%- include("./components/icon-hover.ejs") %>
    <%- include("./components/back-button.ejs") %>
    <%- include("./components/real-time.ejs") %>
  </body>
</html>
